<h2>Eventos</h2>
<hr>

<div action="" class="row g-3 mb-2">
  <div class="col-auto">
    <label class="mr-2">Filtro:</label>
   </div>
   <div class="col-auto">
      <input type="text" class="form-control"
      placeholder="Buscar"
      [(ngModel)]="filtroListaEvento">
    </div>
</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="metodoMostrarImagem()">
          {{mostrarImagem ? "Ocultar Imagens" : "Exibir Imagens"}}
        </button>
      </th>
      <th>ID</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pesssoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventosFiltrados">
        <td>
          <img [collapse]="!mostrarImagem"
          [isAnimated]="true"
          src="/assets/{{evento.imagemURL}}"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg">
        </td>
        <td>{{evento.eventoId}}</td>
        <td>{{evento.tema}}</td>
        <td>{{evento.local}}</td>
        <td>{{evento.dataEvento}}</td>
        <td>{{evento.qtdPessoas}}</td>
        <td>{{evento.lote}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm me-md-2">Editar</button>
          <button type="button" class="btn btn-danger btn-sm">Excluir</button>
        </td>
      </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
